extends layout
block content
  p=userid
  h2 Galery
    #main
      p
        img#large(src='http://learn.javascript.ru/files/tutorial/browser/events/gallery/img1-lg.jpg', alt='')
      ul#thumbs.clearfix
        li
          img(src='http://learn.javascript.ru/files/tutorial/browser/events/gallery/img2-thumb.jpg', alt='')
        li
          img(src='http://learn.javascript.ru/files/tutorial/browser/events/gallery/img3-thumb.jpg', alt='')
        li
          img(src='http://learn.javascript.ru/files/tutorial/browser/events/gallery/img4-thumb.jpg', alt='')
        li
          img(src='http://learn.javascript.ru/files/tutorial/browser/events/gallery/img5-thumb.jpg', alt='')
        li
          img(src='http://learn.javascript.ru/files/tutorial/browser/events/gallery/img6-thumb.jpg', alt='')